extends ../layouts/common
block content
  div.container
    .container
      table.table
        thead.thead-light
          tr
            th(scope='col') DEVICE
            th(scope='col') ACTION
            th(scope='col') ACTION
            th(scope='col') STATUS
        tbody
          -var count=0
          -var arr=['LED 1','LED 2','LED 3','LED 4','FAN','DOOR']
          each i in arduino
            tr
              th(scope='row')=arr[count++]
              td 
                form.form-inline.form-group(method='POST' action='/arduino/postApi')
                  label(for="")=i.id
                  input(name="id",type ="text",value=i.id class="form-control" hidden)
                  input.btn.btn-primary.ml-4(type='submit' name='status' value='Bật')
              td 
                form.form-inline.form-group(method='POST' action='/arduino/postApi')
                  label(for="")=i.id
                  input(name="id",type ="text",value=i.id class="form-control" hidden)
                  input.btn.btn-danger.ml-4(type='submit' name='status' value='Tắt')  
              td=i.status